#entrada {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.demo-image {
    cursor: url("images/plus_cursor.png") 25 25, pointer;
}

figure img{
  width: 100%;
}

figure{
    border: solid 6px black;
    width: 35%;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.img-content1 {
  margin-left: auto;
}

.img-content2 {
  position: relative;
  bottom: 160px;
}

#pared2 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content3 {
  margin-right: auto;
}

.img-content4 {
  position: relative;
  margin-left: auto;
  bottom: 75px;
}


#pared3 {
  background-image: url("../images/background2.jpg");
  background-size: cover;
}

.img-content5 {
  position: relative;
  margin: auto;
  left: 140px;
}

#pared4 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content9 {
  margin-left: auto;
}

#pared5 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content10,
.img-content12 {
  margin-left: auto;
}

#pared6 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content14 {
  margin-left: auto;
}

#pared7 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content16 {
  position: relative;
  margin-left: auto;
  top: 170px;
}

#pared8 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content19 {
  position: relative;
  top: 50px;
}

.img-content20 {
  position: relative;
  margin-left: auto;
  bottom: 390px;
}

#pared9 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content21 {
  position: relative;
  margin: auto;
  top: 150px;
  width: 350px;
}

#pared10 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content23 {
  position: relative;
  margin-left: auto;
  width: 260px;
  top: 50px;
}

#pared11 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content24 {
  position: relative;
  top: 130px;
}

.img-content25 {
  position: relative;
  margin-left: auto;
  bottom: 130px;
}

#pared12 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content26 {
  position: relative;
  top: 215px;
}

.img-content27 {
  position: relative;
  margin-left: auto;
  bottom: 80px;
}

#pared13 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content29 {
  position: relative;
  margin-left: auto;
  bottom: 40px;
}

#pared14 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content30 {
  position: relative;
  margin-left: auto;
}

#pared15 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content31 {
  position: relative;
  bottom: 40px
}

.img-content32 {
  position: relative;
  margin-left: auto;
}

.img-content33 {
  position: relative;
  margin: auto;
  top: 20px;
}

.img-content34 {
  position: relative;
  top: 40px;
}


#pared16 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content35 {
  width: 350px;
}

.img-content36 {
  position: relative;
  margin-left: auto;
  top: 40px;
}

#pared17 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content37 {
  position: relative;
  margin-left: auto;
  width: 150px;
}

.img-content38 {
  position: relative;
  margin: auto;
  width: 100px;
}

.img-content39 {
  position: relative;
  width: 150px;
  bottom: 20px;
}

#pared18 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content40 {
  position: relative;
  margin: auto;
  top: 150px;
  width: 400px;
}

#pared19 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content41 {
  position: relative;
  margin: auto;
  top: 150px;
  width: 400px;
}

#pared20 {
    background-image: url("../images/background2.jpg");
    background-size: cover;
}

.img-content42 {
  width: 150px;
}

.img-content43 {
  position: relative;
  margin: auto;
  width: 100px;
}

.img-content44 {
  position: relative;
  margin-left: auto;
  width: 150px;
  bottom: 20px;
}

/*.impress-enabled .step {
    margin: 0;
    opacity: 0.1;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }*/