body{
  margin: 0px;
}

.demo-image {
  cursor: url("../images/plus_cursor.png") 25 25, pointer;
}

@media(max-width: 767.98px){
  #impress {
    perspective: 1300px !important;
    transform: scale(0.651562) !important;
  }
}
.step{
  opacity: 1!important;
}
.techo{
  background-color: #000000f;
  height: 60%;
}
.piso{
  background-color: gray;
  height: 60%;
}
figure a {
  border: none;
  background: none;
  text-shadow: none;
}
figure a:hover {
  background: none;
  text-shadow: none;
}
figure img {
  box-shadow: 0 0 40px gray;
}
.step {
  background-color: #f5f5f5;    
  background-size: cover;
}
#techo {
  background-image: url(../img/techo.jpg);
  background-size: auto;
  width: 2100px !important;
  height: 1400px !important;
}
#piso {
  background-image: url(../img/piso.jpg);
  background-size: auto;
  width: 2100px !important;
  height: 1400px !important;
}
#entrada {
  transition: opacity 0.5s;
  width: 1400px !important;
  background-color: transparent !important;
}
.izquierda1 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 10px black;
}
.izq1,
.der1{
  height: 60%;
  background-color: lightgray;
  border: 15px solid white;
  border-bottom: 0;
}
.izq2,
.der2 {
  height: 26%;
  background-color: #345494;
  border: 15px solid white;
  border-top: 5px solid white;
}
.izq4,
.der4 {
  height: 26%;
  background-color: #cc3333;
  border: 15px solid white;
  border-top: 5px solid white;
}
.izq3,
.der3 {
  height: 60%;
  background-color: lightgray;
  border: 15px solid white;
  border-bottom: 0;
}
.izquierda2 {
  width: 320px;
  height: 233px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 233px;
  border-left: 15px solid white;
  box-shadow: 1px 1px 10px black;
  border-right: 15px solid white;
}
.izquierda3 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 466px;
  background-color: yellow;
  box-shadow: 1px -1px 10px black;
}
.derecha1 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 1px 1px 10px black;
}
.derecha2 {
  width: 320px;
  height: 233px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 233px;
  border-left: 15px solid white;
  box-shadow: 1px -1px 10px black;
  border-right: 15px solid white;
}
.derecha3 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  top: 466px;
  box-shadow: 1px -1px 10px black;
}
.superior {
  width: 700px;
  height: 160px;
  background-color: #f5f5f5;
  position: absolute;
  left: 350px;
  top: 0;
  border-top: 15px solid white;
  box-shadow: inset 0 0 40px 8px grey;
  border-bottom: 15px solid white;
}
.superior img {
  width: 35%;
  position: absolute;
  left: 1rem;
  top: 18%;
}
.datos-galeria {
  margin-top: 12px;
}
.datos-galeria h2, h5 {
  margin: 0;
  margin-right: 1rem;
  text-align: right;
  color: #202020;
}
.datos-galeria h2 {
  font-size: 1.7em;
  font-family: "Merryweather";
  color: #345494;
}
.datos-galeria h5 {
  font-size: 1em;
  font-family: "Raleway";
  color: #cc3333;
}
.pared-externa {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  transform: translateZ(-1px);
  background-color: #f5f5f5;
}
.img-redonda {
  border-radius: 50%;
  box-shadow: 0 0 40px -4px gray;
}
.img-content1 {
  margin: 0;
}
.img-content2 {
  position: absolute;
  top: 55%;
  right: 0;
}
.img-content3 {
  position: absolute;
  top: 48%;
  right: 32%;
}
.img-content4 {
  position: absolute;
  top: 55%;
  right: 32%;
}
.img-content5 {
  position: absolute;
  top: 30%;
  right: 15%;
}
.img.content6 {
  position: absolute;
  left: 15%;
}
.img-content7 {
  position: absolute;
  left: -3%;
}
.img-content8 {
  position: absolute;
  left: -3%;
  top: 49%;
}
.img-content9 {
  position: absolute;
  left: -3%;
  top: 56%;
}
.img-content10 {
  position: absolute;
  top: 26%;
  left: 30%;
}
.img-content11{
  position: absolute;
  top: 21%;
  left: -6%;
}
.img-content12 {
  position: absolute;
  bottom: 30px;
  right: 6%;
}
.img-content13 {
  position: absolute;
  top: 25%;
  right: 15%;
}
.img-content14 {
  position: absolute;
  right: 6%;
  top: 49%;
}
.img-content15 {
  position: absolute;
  right: 0;
  top: 46%;
}
.img-content16 {
  position: absolute;
  right: 22%;
}
.img-content17 {
  position: absolute;
  top: 46%;
  left: 17%;
}
.img-content18 {
  position: absolute;
  top: 53%;
  left: 17%;
}
.img-content19 {
  position: absolute;
  top: 12%;
  left: -52%;
}
.img-content20 {
  position: absolute;
  left: 22%;
}
.img-content21 {
  position: absolute;
  top: 35%;
  left: 0%;
}
.img-content22 {
  position: absolute;
  top: 55%;
  left: 25%;
}
.img-content23 {
  position: absolute;
  top: 34%;
  right: 10%;
}
.img-content24 {
  position: absolute;
  top: 60%;
  right: 41%;
}
.img-content25 {
  position: absolute;
  top: 37%;
  left: 17%;
}
.img-content26 {
  position: absolute;
  top: 25%;
  right: -21%;
}
.img-content27 {
  position: absolute;
  top: 25%;
}
.img-content28 {
  position: absolute;
  top: 53%;
  left: 0%;
}