body{
  margin: 0px;
}

.demo-image {
  cursor: url("../images/plus_cursor.png") 25 25, pointer;
}

@media(max-width: 767.98px){
  #impress {
    perspective: 1300px !important;
    transform: scale(0.651562) !important;
  }
}
.step{
  opacity: 1!important;
}
.techo{
  background-color: #00000f;
  height: 60%;
}
.piso{
  background-color: gray;
  height: 60%;
}
.step {
  background-color: #f5f5f5;    
  background-size: cover;
}
#techo {
  background-image: url(../img/techo.jpg);
  background-size: auto;
  width: 2100px !important;
  height: 1400px !important;
}
#piso {
  background-image: url(../img/piso.jpg);
  background-size: auto;
  width: 2100px !important;
  height: 1400px !important;
}
#entrada {
  transition: opacity 0.5s;
  width: 1400px !important;
  background-color: transparent !important;
}
.izquierda1 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 10px black;
}
.izq1,
.der1{
  height: 60%;
  background-color: lightgray;
  border: 15px solid white;
  border-bottom: 0;
}
.izq2,
.der2 {
  height: 26%;
  background-color: #345494;
  border: 15px solid white;
  border-top: 5px solid white;
}
.izq4,
.der4 {
  height: 26%;
  background-color: #cc3333;
  border: 15px solid white;
  border-top: 5px solid white;
}
.izq3,
.der3 {
  height: 60%;
  background-color: lightgray;
  border: 15px solid white;
  border-bottom: 0;
}
.izquierda2 {
  width: 320px;
  height: 233px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 233px;
  border-left: 15px solid white;
  box-shadow: 1px 1px 10px black;
  border-right: 15px solid white;
}
.izquierda3 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 466px;
  background-color: yellow;
  box-shadow: 1px -1px 10px black;
}
.derecha1 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 1px 1px 10px black;
}
.derecha2 {
  width: 320px;
  height: 233px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 233px;
  border-left: 15px solid white;
  box-shadow: 1px -1px 10px black;
  border-right: 15px solid white;
}
.derecha3 {
  width: 350px;
  height: 233px;
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  top: 466px;
  box-shadow: 1px -1px 10px black;
}
.superior {
  width: 700px;
  height: 160px;
  background-color: #f5f5f5;
  position: absolute;
  left: 350px;
  top: 0;
  border-top: 15px solid white;
  box-shadow: inset 0 0 40px 8px grey;
  border-bottom: 15px solid white;
}
.logoIzq {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 13%;
}
.logoDer {
  width: 60%;
  position: absolute;
  left: 18%;
  top: 19%;
}
.datos-galeria {
  margin-top: 2.6rem;
}
.datos-galeria h2, h5 {
  margin: 0;
  margin-right: 1rem;
  text-align: center;
  color: #202020;
}
.datos-galeria h2 {
  font-size: 1.2em;
  font-family: "Rhodium Libre", sans-serif;
  color: #345494;
  line-height: 1;
}
.datos-galeria h5 {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #cc3333;
}
.pared-externa {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  transform: translateZ(-1px);
  background-color: #f5f5f5;
}
.lightgallery {
  display: flex;
  flex-wrap: wrap;
  height: 540px;
}
#pared1 {
  padding: 80px 0 80px 94.33px;
}
#pared1 .figure {
  width: calc(7.69% - 4px);
  cursor: pointer;
  margin: 2px;
  height: calc(8.33% - 4px);
}
#pared2 {
  padding: 80px 0 80px 0;
}
#pared2 .figure {
  width: calc(6.66% - 4px);
  cursor: pointer;
  margin: 2px;
  height: calc(8.33% - 4px);
}
#pared3,
#pared4 {
  padding: 80px 0 80px 0;
}
#pared3 .figure,
#pared4 .figure {
  width: calc(6.66% - 4px);
  cursor: pointer;
  margin: 2px;
  height: calc(8.33% - 4px);
}
#pared5 {
  padding: 80px 94.33px 80px 0;
}
#pared5 .figure {
  width: calc(7.69% - 4px);
  cursor: pointer;
  margin: 2px;
  height: calc(8.33% - 4px);
}
.img_titulo {
  height: 82%;
  position: absolute;
  right: 40%;
  top: 10%;
}